.main-container
{
    height: auto;
    margin-bottom: 20px;
    
}
.container1
{
    margin-left: auto;
    margin-right: auto;
    animation: transition1 2s;
}
.container2
{
    padding-bottom: 40px;
}
.one
{
    margin-top: 60px;
}
.two
{
    margin-top: 10px;
}
h1
{
    color: rgb(255, 208, 0);
    text-align: left;
    margin-right: 30vh;
    font-size: 70px;
    text-transform: capitalize;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
  
}
@media only screen and (max-width:1200px){
    h1{
        margin-right:10vh;
    }
    .para1
    {
        padding-left: 0vh;
        line-height: 20px;
    }
    
}
@media only screen and (max-width:992px){
    h1{
         
        font-size: 50px;
    }
    .team
    {
        margin-top: 0vh;
       
    }
    
}
@media only screen and (max-width:768px){
    h1{
        margin-right:0vh;
        font-size: 45px;
        padding-top: 5vh;
    }
    h2
    {
        font-size: 20px;
    }
    .para1
    {
        margin-top: 50px;
        padding-left: 0vh;
        line-height: 15px;
    }
   .container1
   {
    display: flex;
    flex-direction: column;
   }
   .col{
    margin-top: 0px;
   }
   .team
   {
    margin-top: 0px;
   }
   .photos
   {
    display: flex;
    flex-direction: column;
   }
    
}

.para1
{
    margin-top: 40px;
    line-height: 35px;
    initial-letter: 40px;
}
hr
{
    color: white;
}
h2
{
    margin-top: 40px;
    color: rgb(255, 208, 0);
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3
{
    color: rgb(104, 119, 133);
    margin-top: 10vh;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.read
{
    text-decoration: none;
}
.profile
{
    border-radius: 50%;
     
}
.photos
{
    margin-top: 70px;
}
.about-us
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name
{
    color: rgb(104, 119, 133);
    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



 /* ANIMATION NO.1 */
 @keyframes transition1 {
    from {
        opacity: 0;
        transform: translateY(-10PX);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

/*----------------------*/